body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
    background-color: rgb(208, 228, 247);
    font-family: 'Outfit', sans-serif;
}

.outershell {
    background-color: white;
    border-radius: 18px;
    max-width: 375px;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
}

#code {
    width: 375px;
    border-radius: 10px;
}

.outershell p {
    font-size: 27px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    letter-spacing: 1px;
}

#sub-text {
    font-size: 18px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin-bottom: 30px;
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}